main {
    margin: 0 auto;
    margin-top: 240px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    color: black;
    text-align: left;
    animation-name: bottomFadeOut;
    animation-duration: 2s;
}
main h1 {
    font-size: 30px;
    font-weight: 400;
    animation-delay: 1s;
}
main h2 {
    font-size: 60px;
    font-weight: 600;
}
main h3 {
    font-size: 20px;
    font-weight: 400;
    animation-delay: 1s;
}
@keyframes bottomFadeOut {
    0% {
      position: relative;
      top: 40px;
      opacity: 0;
      z-index: -1;
    }
  
    75% {
      position: relative;
      opacity: 1;
      z-index: -1;
    }
  
    100% {
        position: relative;
        top: 0px;
        opacity: 1;
        z-index: -1;
    }
}